<div class="container mt-5">
  <hr>
  <h2>My Directive</h2>
  <button class="my-3 btn" appButtonColor>Meine eigene Directive</button>

  <h1>Directives</h1>
  <hr>
  <h3 *ngIf="!status">ngIf Calismiyor</h3>
  <h3 *ngIf="status">ngIf Calisiyor</h3>

  <button class="btn btn-info mt-3" (click)="changeStatus()">Chage Status</button>
  <hr>
  <h2>Ng if-else</h2>
  <h3 *ngIf="status; else id_selector">Status:true</h3>

  <ng-template #id_selector>
    <h3>Status:false</h3>
  </ng-template>

  <hr>
  <h2>ngFor with index</h2>
  <ul>
    <li *ngFor="let item of itemList;let i=index;">
      <b>{{i+1}}</b> {{item.name}} {{item.surname}}
    </li>
  </ul>

  <hr>
  <h2>ngSwitch</h2>
  <div [ngSwitch]="'uc'">
    
    <h3 *ngSwitchCase="'bir'">Degisken bire esit</h3>
    <h3 *ngSwitchCase="'iki'">Degisken ikiye esit</h3>
    <h3 *ngSwitchDefault>Degisken ne bir ne iki</h3>
  </div>

 
</div>